.project-description {
    width: 746px;
    font-size: 24px !important;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
}

@media(max-width: 1000px) {
    .about-page-header p {
        display: none !important;
    }
    .about-page-header::after {
        content: "Please expand the screen";
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.about-page-header h2 {
    margin: 40px auto 20px !important;
    font-size: 50px !important;
}

.contact {
    width: 746px;
    margin: 20px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
}

.contact p {
    margin: 0 !important;
    padding: 10px;
}

.about-footer {
    width: 746px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jumbotron {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

.text-muted {
    font-size: 15px !important;
    color: #aaa !important;
}
