.navbar-brand {
    color: #d31e17 !important;
    font-family: 'Nunito';
    font-size: 25px !important;
}

#navbar ul li a {
    font-family: 'Varela Round', sans-serif !important;
    font-size: 18px;
}

.focus {
    border-color: #4a99ff;
    box-shadow: inset 0 3px 3px rgba(211, 30, 23, 0.075), 0 0 8px rgba(211, 30, 23, 0.6);
    color: #ffffff !important;
    background-color: #d31e17 !important;
}
