.summary-button {
    width: 155px;
    margin: 5px 0 0;
}

.retake-info p {
    margin: 0;
}

.transition-decorator {
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-decorator .line {
    text-decoration: line-through;
}

.transition-decorator .toten {
    text-decoration: none;
    font-size: 30px;
    font-weight: 200;
    margin: 0 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.transition-button-focus {
    box-shadow: inset 0 1px 1px rgba(151, 255, 255, 0.075), 0 0 25px rgba(151, 255, 255, 0.6);
    color: #ffffff !important;
}

.summary-chart {
    display: flex;
    justify-content: center;
    margin: 0 0 25px;
    background: #fff;
    box-shadow: 0 3px 12px #ddd;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    transition: all 0.4s;
    margin: 25px auto;
    width: 500px !important;
    height: auto;
}

.summary-chart:hover {
    box-shadow: 0 3px 12px #bbb;
    transition: all 0.4s;
}

@media(max-width: 1020px) {
    .summary-chart canvas {
        display: none !important;
    }
    .summary-chart::after {
        content: "Please expand the screen";
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.5;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.btn-primary:hover {
    box-shadow: inset 0 1px 1px rgba(151, 255, 255, 0.075), 0 0 25px rgba(151, 255, 255, 0.6);
    color: #ffffff !important;
}
