.jumbotron {
    min-height: 90%;
}

.survey-header h1 {
    font-size: 43px;
}

.survey-seq {
    font-family: 'Varela Round', sans-serif;
    text-align: right;
    font-size: 20px;
}

.survey-seq .seq-numo {
    margin: 0 8px 0 0;
    color: #d31e17;
    font-size: 40px;
}

.survey-seq .seq-demo {
    margin: 0 0 0 10px;
}

.survey-context {
    width: 640px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 12px #ddd;
}

.survey-context h2 {
    text-align: center;
    font-weight: 300;
    padding: 14px 20px;
    margin: 5px 0 20px;
    font-size: 26px !important;
}

.before-select {
    width: 100%;
    font-size: 28px;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
}

.before-select:hover {
    background: rgba(255, 206, 86, 0.2);
}

.after-select {
    background: rgba(75, 192, 192, 0.2);
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}

#survey-form .radio label input {
    width: 20px;
    height: 20px;
    margin: 0;
    position: static !important;
}

.answer-text {
    margin: 0 0 0 15px;
    font-size: 20px;
    font-weight: 200;
}

.submit-answer {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
}

.submit-answer button {
    width: 155px;
}

.submit-decision {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
}

.submit-decision a {
    width: 155px;
}
