<nav class="navbar navbar-default bg-primary">
    <div class="container navbar-group">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tesla</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if active['home'] %}active{% endif %}"><a href="/">Home</a></li>
                <li class="{% if active['about'] %}active{% endif %}"><a href="/about">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="{% if active['report'] %}active{% endif %}"><a id="report" href="/summary">Report<span class="hide fa fa-arrow-up report-tips"></a></li>
                <li class="{% if active['add'] %}active{% endif %}"><a id="add" href="/home">Add<span class="hide fa fa-arrow-up add-tips"></span></a></li>
                <li class="{% if active['reset'] %}active{% endif %}"><a id="reset" href="/home">Reset<span class="hide fa fa-arrow-up reset-tips"></a></li>
            </ul>
        </div>
    </div>
</nav>
