<div class="toolbar-right">

    <!-- summary -->
    <div class="toolbar-right-menu menu-summary">
        <a id="toolbar-report" href="/summary" class="toolbar-right-btn">
            <span class=""></span>
            <p>Report</p>
        </a>
        <div class="toolbar-right-box">
            <div class="box-border">
                <div class="toolbar-hover-box-title">
                    <span class="fa fa-pie-chart"></span>
                    <p>Data Summary<i>A brief analysis of the survey</i></p>
                    <div class="clear"></div>
                </div>
                <div class="toolbar-hover-box-body">
                    <h4>You can view:</h4>
                    <ul>
                        <li>1. Number of answers collected in total</li>
                        <li>2. A doughnut chart of each question's feeback</li>

                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="fa fa-chevron-right arrow-right"></span>
            </div>
        </div>
    </div>

    <!-- add data -->
    <div class="toolbar-right-menu menu-data-operation menu-data-add">
        <a id="toolbar-add" href="/home" class="toolbar-right-btn" method="post">
                <span class=""></span>
                <p>Add</p>
        </a>
        <div class="toolbar-right-box">
            <div class="box-border">
                <div class="toolbar-hover-box-title">
                    <span class="fa fa-database"></span>
                    <p>Data Add<i>A tool to add random number to the survey result</i></p>
                    <div class="clear"></div>
                </div>
                <div class="toolbar-hover-box-body">
                    <h4>Description:</h4>
                    <ul>
                        <li>A random number from 1 to 9 will be added to each possible answer</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="fa fa-chevron-right arrow-right"></span>
            </div>
        </div>
    </div>

    <!-- reset data -->
    <div class="toolbar-right-menu menu-data-operation menu-data-reset">
        <a id="toolbar-reset" href="/home" class="toolbar-right-btn">
                <span class=""></span>
                <p>Reset</p>
        </a>
        <div class="toolbar-right-box">
            <div class="box-border">
                <div class="toolbar-hover-box-title">
                    <span class="fa fa-database"></span>
                    <p>Data Reset<i>A tool to clear data of the survey result</i></p>
                    <div class="clear"></div>
                </div>
                <div class="toolbar-hover-box-body">
                    <h4>Description:</h4>
                    <ul>
                        <li>All answered data will be cleaned</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="fa fa-chevron-right arrow-right"></span>
            </div>
        </div>
    </div>


    <!-- survey -->
    <div class="toolbar-right-menu menu-survey">
        <a id="start-survey" href="/survey" class="toolbar-right-btn" method>
                <span class=""></span>
                <p>Survey</p>
        </a>
        <div class="toolbar-right-box">
            <div class="box-border">
                <div class="toolbar-hover-box-title">
                    <span class="fa fa-pencil-square-o"></span>
                    <p>Forward to survey<i>Start adding customer's data</i></p>
                    <div class="clear"></div>
                </div>
                <span class="fa fa-chevron-right arrow-right"></span>
            </div>
        </div>
    </div>


    <!-- go to top -->
    <div class="toolbar-right-menu menu-to" id="to-top">
        <a class="toolbar-right-btn" onclick="toTop()">
            <span class="fa fa-chevron-up"></span>
            <i>Top</i>
        </a>
    </div>

    <!-- go to bottom -->
    <div class="toolbar-right-menu menu-to" id="to-bottom">
        <a class="toolbar-right-btn" onclick="toBottom()">
            <span class="fa fa-chevron-down"></span>
            <i>Down</i>
        </a>
    </div>
</div>
