{% extends 'index.html' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="about-page-header">
        <img src="../css/img/tesla-word.png">
        <h1>About The Project</h1>
        <p class="project-description">In order to better serve our customers, we may ask them questions to elicit additional information about their special needs and interests.</p>
        <h2>Contact us:</h2>
        <div class="contact">
            <p>Toll free: (888) 518-3752</p>
            <p>&nbsp;&nbsp;&nbsp;Local: (650) 681-5100</p>
            <p>Head Quarter: 3500 Deer Creek Road, Palo Alto, CA 94304</p>
        </div>
        <div class="about-footer">
            <p>Enjoy your ride!</p>
            <p>Sincerely,</p>
            <p>Tesla Team</p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="text-muted">©2017 Zidian Lyu</p>
        </div>
    </div>
</div>
{% endblock %}
